body {
    background-image:url("../img/background.jpg");
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    overflow-x: hidden;
}

.home {
    top: 50%;
    transform: translate3d(0%, -50%, 0);
    position: absolute;
}

.input-group-btn button:not(:last-child) {
    border-radius: 0;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    background-color: black;
}

.padding {
    padding: 0 10px;
}

.text h2, .text h4, .text .interested {
    text-align: center;
}

.text .interested {
    font-weight: bold;
    display: block;
    padding-top: 10px;
}

.text h2 {
    margin-bottom: 0;
}

.text h4 {
    margin-top: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.email-type {
    min-width: 100px;
    border-left: none;
    border-radius: 0;
}

.thank-you {
    display: none;
}

@media(min-width: 768px) {
    .video iframe {
        position: static;
        width: 100%;
        height: 100%;
    }
}